.dash-sort-button{
    min-width: 3%;
    width: 9%!important;
    border: none;
    margin: 0%;
    position: relative;
    appearance: none !important;
    color: #ff6f47 !important;
    font-family: "Poppins", sans-serif;
    font-size: small !important;
    cursor: pointer !important;
    background-color: white;
    min-height: 3%;
    height: 4%;
}


